body{
text-align:center;
}
h1{
font-size:40px;
font-family:sans-serif;
font-weight:300;
}
#app{
background-color:rgb(21, 236, 236);
}
#game{
background-color:lightcoral;
}
.line{
height:6px;
background-color:#000;
width:70px;
margin:8px auto;
}